APP_ENV=development
SITE_ENV=development
NEXT_PUBLIC_DEPLOY_ENV=development
SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ROBOTS_POLICY=noindex
NEXT_PUBLIC_CONTACT_EMAIL=jamie.burkart@gmail.com
NEXT_PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/jamie-burkart/
NEXT_PUBLIC_GITHUB_URL=https://github.com/openhouse
NEXT_TELEMETRY_DISABLED=1
