:root {
  --pastel-white: #eeefec;
  --pastel-pale-orange: #fce1d1;
  --pastel-lemon-yellow: #f7ec86;
  --pastel-naples-yellow: #fae367;
  --pastel-pale-green: #beebc7;
  --pastel-yellow: #ffdb06;
  --pastel-pink: #f4a9c5;
  --pastel-pale-blue: #74c2e5;
  --pastel-gray-2: #b4b3b1;
  --pastel-gray: #a2a5a6;
  --pastel-orange: #f77744;
  --pastel-green: #34a63c;
  --pastel-blue: #1098d9;
  --pastel-blue-green: #018c85;
  --pastel-dark-gray: #5e5f61;
  --pastel-cobalt-blue: #0167b2;
  --pastel-prussian-blue: #014f94;
  --pastel-black: #343435;
  --broadway-blue: #0b5f81;
}
